<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <mapping class="model.beans.User"/>
    <mapping class="model.beans.Address"/>
    <mapping class="model.beans.Warehouse"/>
    <mapping class="model.beans.SystemConfiguration"/>
    <mapping class="model.beans.Product"/>
    <mapping class="model.beans.Category"/>
    <mapping class="model.beans.ProductTransaction"/>    
    <mapping class="model.beans.TransactionType"/>
  </session-factory>
</hibernate-configuration>
